/***************************************
 * Themes
 ***/
.component .notification.theme {
	--notif-color: hsl(214, 98%, 55%);
	--notif-color-border: hsl(214, 98%, 60%);
	--notif-color-bg: #fff;
	--notif-color-icon: #fff;
	--notif-color-title: #333;
	--notif-color-text: #777;
	--notif-color-item: #999;
	--notif-border-radius: 3px;
}

.component .notification.theme_success {
	--notif-color: hsl(116, 46%, 49%);
	--notif-color-border: hsl(116, 46%, 54%);
	--notif-color-bg: #fff;
	--notif-color-icon: #fff;
	--notif-color-title: #333;
	--notif-color-text: #777;
	--notif-color-item: #999;
	--notif-border-radius: 3px;
}


.component .notification.theme_error {
	--notif-color: hsl(0, 89%, 53%);
	--notif-color-border: hsl(0, 89%, 57%);
	--notif-color-bg: #fff0f4;
	--notif-color-icon: #fff;
	--notif-color-title: hsl(0, 89%, 53%);
	--notif-color-text: hsl(0, 89%, 53%);
	--notif-color-item: hsl(0, 89%, 53%);
	--notif-border-radius: 3px;
}

/***************************************
 * Structure
 ***/
.component {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

.component .wrap {
	display: flex;
    flex-direction: column;
    gap: 1em;
}

.component .notification {
	position: relative;
	border: 1px solid var(--notif-color-border);
	background: var(--notif-color-bg);
    /*border-left: 5px solid var(--notif-color);*/
	border-radius: var(--notif-border-radius);
	color: var(--notif-color-text);
	padding: 0.75em 1em 1em 4em;
	overflow: hidden;
}

.component .notification h3 {
	padding-left: 1rem;
	margin: 0;
	color: var(--notif-color-title);
	font-weight: 400;
	margin-bottom: 0.25em;
	font-size: 1.4em;
}

.component .notification p {
	font-size: inherit;
	display: table;
	padding-left: 1em;
	margin-block-start: 0;
	margin-block-end: 0;
}

.component .notification div.left {
	padding-top: 0.75em;
	position: absolute;
	background: var(--notif-color-border);
	width: 4em;
	left: 0;
	top: 0;
	bottom: 0;
	text-align: center;
}

.component .notification div em {
	font-size: inherit;
	color: var(--notif-color-icon);
}

.component .notification div em::before {
	font-size: 2em;
}

.component .notification span {
	font-size: inherit;
}

.component .notification ul {
	margin-top: 0.75em;
	margin-bottom: 0;
	font-size: inherit;
	padding-inline: 1em;
}

.component .notification ul li {
	list-style: disc;
    margin-left: 2em;
	font-size: inherit;
	font-size: 0.9em;
	color: var(--notif-color-item);
    margin-bottom: 0.25em;
}

.component .notification ul li:last-child {
    margin-bottom: 0em;
}