/*************************************************
* Icon styles.
*/

.juiIcon {
    color: var(--jui-color-neutral30);
}

.juiIcon.clickable {
    cursor: pointer;
}

/*************************************************
* Stack styles.
*/

.juiStack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.juiStack.stretch > * {
    width: 100%;
}

.juiStack.horizontal {
    flex-direction: row;
}

.juiStack.horizontal.stretch > * {
    width: auto;
    height: 100%;
}

/*************************************************
* Paper styles.
*/

.juiPaper h1 {
    font-weight: 600;
    color: var(--jui-text-header)
}

.juiPaper h2 {
    font-weight: 600;
    color: var(--jui-text-header)
}

.juiPaper h3 {
    font-weight: 600;
    color: var(--jui-text-header)
}

.juiPaper h4 {
    font-weight: 600;
    color: var(--jui-text-header)
}

.juiPaper h5 {
    font-weight: 600;
    color: var(--jui-text-header)
}

.juiPaper h6 {
    font-weight: 600;
    color: var(--jui-text-header)
}

/*************************************************
* Card.
*/

.juiCard {
    --juiCard-outlined-bg: var(--jui-color-aux-white);
    --juiCard-outlined-border: var(--jui-line-light);
    --juiCard-outlined-border-radius: var(--jui-border-radius);
    --juiCard-outlined-shadow-color: var(--jui-color-neutral30);
    --juiCard-outlined-shadow-size: 0;
}

.juiCard p, .juiCard h1, .juiCard h2, .juiCard h3, .juiCard h4, .juiCard h5 {
    margin: 0;
    padding: 0;
}

.juiCard {
    display: flex;
    flex-direction: column;
    /* overflow: hidden;
    overflow-x: auto; */
    position: relative;
}

.juiCard.clickable {
    cursor: pointer;
}

.juiCard.variant-outlined {
    background-color: var(--juiCard-outlined-bg);
    border: 1px solid var(--juiCard-outlined-border);
    border-radius: var(--juiCard-outlined-border-radius);
    box-shadow: 0 0 var(--juiCard-outlined-shadow-size) var(--juiCard-outlined-shadow-color);
}

.juiCard.horizontal {
    flex-direction: row;
    align-items: center;
}

/*************************************************
* CardHeader.
*/

.juiCardHeader {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.juiCardHeader > em {
    display: inline-block;
    font-size: 2em;
    width: 1em;
    height: 1em;
}

.juiCardHeader > .juiCardHeader_inner {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.juiCardHeader > .juiCardHeader_inner > a.juiCardHeader_title {
    color: var(--jui-text-link);
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
}

.juiCardHeader > .juiCardHeader_inner > a.juiCardHeader_title:hover {
    color: var(--jui-text-link);
    text-decoration: hover;
}

.juiCardHeader > .juiCardHeader_innerinner > div.juiCardHeader_title {
    color: var(--jui-text);
    font-weight: 500;
}

.juiCardHeader > .juiCardHeader_inner > div.juiCardHeader_subtitle {
    color: var(--jui-text-subtle);
    font-size: 0.9em;

}

/*************************************************
* Menu activator.
*/

.juiMenuActivator {
    position: relative;
    padding: 4px 9px;
    border-radius: var(--jui-border-radius);
    transition: background-color 0.1s ease-in;
}

.juiMenuActivator > em {
    color: var(--jui-color-neutral50);
}

.juiMenuActivator > div {
    display: none;
    position: absolute;
    z-index: 100000;
    right: 0;
    opacity: 1;
    padding-top: 0.5em;
}

.juiMenuActivator:hover {
    background-color: var(--jui-color-neutral10);
}

.juiMenuActivator:hover > em {
    color: var(--jui-color-neutral80);
}

.juiMenuActivator:hover > div.hoverable {
    display: block;
    animation: juiMenuActivator-fade 0.4s;
}

.juiMenuActivator.open > div {
    display: block;
    animation: juiMenuActivator-fade 0.4s;
}

@keyframes juiMenuActivator-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*************************************************
* Menu.
*/

.juiMenu {
    --juiMenu-outlined-bg: var(--jui-color-aux-white);
    --juiMenu-outlined-border: var(--jui-line-light);
    --juiMenu-outlined-border-radius: var(--jui-border-radius);
    --juiMenu-outlined-shadow-color: var(--jui-color-neutral30);
    --juiMenu-outlined-shadow-size: 10px;
}

.juiMenu {
    list-style: none;
    margin: 0;
    padding: 0.5em 0;
    box-shadow: 0 0 var(--juiMenu-outlined-shadow-size) var(--juiMenu-outlined-shadow-color);
    cursor: pointer;
}

.juiMenu * {
    margin: 0;
    padding: 0;
}

.juiMenu.juiMenu-outlined {
    background-color: var(--juiMenu-outlined-bg);
    border: 1px solid var(--juiMenu-outlined-border);
    border-radius: var(--juiMenu-outlined-border-radius);
}

/*************************************************
* Menu item.
*/

.juiMenuItem {
    white-space: nowrap;
    margin: 0.25em 0;
    padding: 0.35em 0.65em;
    color: var(--jui-color-neutral60);
    display: flex;
    gap: 0.75em;
    align-items: center;
    margin: 0 0.45em;
    cursor: default;
    font-weight: 500;
}

.juiMenuItem.clickable {
    cursor: pointer;
}

.juiMenuItem.juiMenuItem-error {
    color: var(--jui-color-error50);
}

.juiMenuItem:hover {
    background-color: var(--jui-color-neutral20);
    border-radius: var(--jui-border-radius);
}

.juiMenuItem.juiMenuItem-error:hover {
    background-color: var(--jui-color-error05);
}

.juiMenuItem.disabled {
    color: var(--jui-text-disabled) !important;
}

.juiMenuItem.disabled:hover {
    background-color: transparent !important;
}

/*************************************************
* Divider.
*/

.juiDivider {

}

/*************************************************
* Btn styles.
*/

.juiButton {
    --juiButton-margin: 2px;
    --juiButton-base: var(--jui-btn-bg);
    --juiButton-border: var(--juiButton-base);
    --juiButton-radius: var(--jui-border-radius);
    --juiButton-text: var(--jui-color-aux-white);
    --juiButton-text-hover: var(--juiButton-text);
    --juiButton-bg: var(--juiButton-base);
    --juiButton-bg-hover: var(--jui-btn-bg-hover);
    --juiButton-padding-tb: 0.45em;
    --juiButton-padding-lr: 0.75em;
}

.juiButton {
    justify-content: center;
    align-items: center;
    padding: var(--juiButton-padding-tb) var(--juiButton-padding-lr);
    letter-spacing: 0.02em;
    font-weight: 400;
    cursor: pointer;
    display: inline-flex;
    text-wrap-mode: nowrap;
    gap: 0.5em;
    border: 1px solid var(--juiButton-border);
    border-radius: var(--juiButton-radius);
    color: var(--juiButton-text);
    background-color: var(--juiButton-bg);
    margin: var(--juiButton-margin);
    position: relative;
}

.juiButton.left {
    justify-content: left;
}

.juiButton.running span.label {
    visibility: hidden;
}

.juiButton span.running {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.juiButton.running span.running {
    visibility: visible;
}

.juiButton:hover:not(.running) {
    background-color: var(--juiButton-bg-hover);
    color: var(--juiButton-text-hover);
}

.juiButton.nature-grey {
    --juiButton-border: var(--jui-color-neutral30);
    --juiButton-base: var(--jui-color-aux-white);
    --juiButton-bg-hover: var(--jui-color-neutral05);
    --juiButton-text: var(--jui-color-neutral60) !important;
}

.juiButton.nature-grey.variant-outlined:not(.running):hover {
    background-color: var(--juiButton-bg-hover) !important;
    color: var(--juiButton-text) !important;
}

.juiButton.nature-danger {
    --juiButton-base: var(--jui-btn-danger-bg);
    --juiButton-bg-hover: var(--jui-btn-danger-bg-hover);
}

.juiButton.nature-warning {
    --juiButton-base: var(--jui-btn-warning-bg);
    --juiButton-bg-hover: var(--jui-btn-warning-bg-hover);
}

.juiButton.nature-success {
    --juiButton-base: var(--jui-btn-success-bg);
    --juiButton-bg-hover: var(--jui-btn-success-bg-hover);
}

.juiButton.variant-standard {
}

.juiButton.variant-expanded {
    padding: 0.45em 1em;
}

.juiButton.variant-outlined {
    --juiButton-text: var(--juiButton-base);
    --juiButton-text-hover: var(--jui-color-aux-white);
    --juiButton-bg: var(--jui-color-aux-white);
}

.juiButton.variant-outlined:not(.running):hover {
    background-color: var(--juiButton-base);
}

.juiButton.variant-rounded {
    --juiButton-radius: 16px;
}

.juiButton.variant-text {
    --juiButton-text: var(--juiButton-base);
    border: none;
    background-color: transparent;
}

.juiButton.variant-text:hover {
    background-color: transparent;
}

.juiButton.variant-text:hover span.label {
    text-decoration: underline;
}

.juiButton.variant-compact {
    padding-left: 0;
    padding-right: 0;
}

/*************************************************
* Avatar styles.
*/
.juiAvatar {
    --juiAvatar-color: #ddd;
    --juiAvatar-text-color: #999;
    --juiAvatar-text-bg: #fff;
    --juiAvatar-border-color: #eee;
    --juiAvatar-border-th: 2px;
    --juiAvatar-img-border-color: #fff;
    --juiAvatar-img-border-th: 2px;
}

.juiAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    /* overflow: hidden; */
    width: 1em;
    min-width: 1em;
    height: 1em;
    min-height: 1em;
    font-size: 3.5em;
    position: relative;
}

.juiAvatar > div.hover {
    position: absolute;
    font-size: 0.9rem;
    z-index: 1;
    width: 230px;
    left: 110%;
    top: 0;
    background: #333;
    color: #fff;
    border-radius: 7px;
    padding: 0.5em 1em;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    display: none;
}

.juiAvatar.failed:hover > div.hover {
    display: block;
}

.juiAvatar.border_dashed {
    border: var(--juiAvatar-border-th) dashed var(--juiAvatar-border-color);
}

.juiAvatar.border_solid {
    border: var(--juiAvatar-border-th) solid var(--juiAvatar-border-color);
}

.juiAvatar.clickable {
    cursor: pointer;
}

.juiAvatar img {
    border: var(--juiAvatar-img-border-th) solid var(--juiAvatar-img-border-color);
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.juiAvatar em {
    font-size: 0.8em;
    color: var(--juiAvatar-color);
}

.juiAvatar span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: 0.1em solid transparent;
    overflow: hidden;
    position: relative;
}

.juiAvatar i {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.36em;
    font-style: normal;
    font-weight: 700;
    color: var(--juiAvatar-text-color);
    background: var(--juiAvatar-text-bg);
    opacity: 0.5;
    text-transform: uppercase;
}

.juiAvatar span.failed {
    display: none;
}

.juiAvatar.failed span.failed {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

.juiAvatar.failed img {
    display: none;
}

/*************************************************
* PersonWithAvatar styles.
*/
.juiPersonWithAvatar h4 {
    font-weight: 600;
    color: var(--jui-text-header);
    margin: 0;
}

/*************************************************
* Notice styles.
*/

.juiNotice {
    --juiNotice-border: var(--jui-color-primary40);
    --juiNotice-border-width: 1px;
    --juiNotice-border-radius: var(--jui-border-radius);
    --juiNotice-text: var(--jui-color-primary80);
    --juiNotice-text-padding: 1em 1.25em;
    --juiNotice-bg: var(--jui-color-primary05);
}

.juiNotice.variant-danger {
    --juiNotice-border: var(--jui-color-error40);
    --juiNotice-text: var(--jui-color-error80);
    --juiNotice-bg: var(--jui-color-error05);
}

.juiNotice.variant-warning {
    --juiNotice-border: var(--jui-color-warning40);
    --juiNotice-text: var(--jui-color-warning80);
    --juiNotice-bg: var(--jui-color-warning05);
}

.juiNotice.variant-success {
    --juiNotice-border: var(--jui-color-success40);
    --juiNotice-text: var(--jui-color-success80);
    --juiNotice-bg: var(--jui-color-success05);
}

.juiNotice {
    border: var(--juiNotice-border-width) solid var(--juiNotice-border);
    border-radius: var(--juiNotice-border-radius);
    background-color: var(--juiNotice-bg);
    padding: var(--juiNotice-text-padding);
    color: var(--juiNotice-text);
}

.juiNotice.style-standard {
    --juiNotice-border-radius: 6px;
    --juiNotice-border-width: 5px;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.juiNotice.style-inline {
    --juiNotice-text-padding: 0.5em 1.25em;
    display: inline-block;
    border: none;
    border-radius: 2em;
}

.juiNotice.style-inline > .main {
    gap: 0.75em;
}

.juiNotice > .main {
    display: flex;
    align-items: center;
    gap: 1.25em;
}

.juiNotice > .main > em {
    font-size: 1.6em;
    color: var(--juiNotice-border);
}

.juiNotice.style-inline > .main > em {
    font-size: 1em;
}

.juiNotice p {
    margin-bottom: 0;
}

.juiNotice > .main > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: 500;
    font-size: 0.95em;
}

.juiNotice > .main > div p {
    margin: 0;
}

.juiNotice > .main > div ul {
    margin: 0;
}

.juiNotice > .main > div a {
    cursor: pointer;
    text-decoration: underline;
}

.juiNotice.style-inline > .main > div p {
    white-space: nowrap;
}

/*************************************************
* Percentage guage.
*/

.juiPGuage {
    --frag-guage-bg: #eaeaea;
    --frag-guage-dial: var(--jui-color-primary50);
    --frag-guage-text: #666;
    display: inline-block;
}

.juiPGuage .guage_bg {
    stroke: var(--frag-guage-bg);
}

.juiPGuage .guage_dial {
    stroke: var(--frag-guage-dial);
}

.juiPGuage > div {
    position: relative;
}

.juiPGuage > div > div {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.juiPGuage > div > div > span {
    font-weight: 600;
    color: var(--frag-guage-text);
    font-size: 0.95em;
    position: relative;
    left: 1px;
}

.juiPGuage > div > div > span > i {
    font-size: 0.65em;
    font-style: normal;
    top: -0.5em;
    position: relative;
}

.juiPGuage > div > div > em {
    font-weight: 600;
    color: var(--frag-guage-text);
    font-size: 1.2em;
    position: relative;
}

/*************************************************
* Typography family.
*/

.juiTypography {
    font-size: 14px;
}

.juiTypography h1 {
    margin: 0;
    font-weight: 300;
    font-size: 6em;
    line-height: 1.167;
    letter-spacing: -0.01562em;
    margin-bottom: 0.35em;
}

.juiTypography h2 {
    margin: 0;
    font-weight: 300;
    font-size: 3.75em;
    line-height: 1.2;
    letter-spacing: -0.00833em;
    margin-bottom: 0.35em;
}

.juiTypography h3 {
    margin: 0;
    font-weight: 400;
    font-size: 3em;
    line-height: 1.167;
    letter-spacing: 0em;
    margin-bottom: 0.35em;
}

.juiTypography h4 {
    margin: 0;
    font-weight: 400;
    font-size: 2.125em;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    margin-bottom: 0.35em;
}

.juiTypography h5 {
    margin: 0;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.334;
    letter-spacing: 0em;
    margin-bottom: 0.35em;
}

.juiTypography h6 {
    margin: 0;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin-bottom: 0.35em;
}

.juiTypography .juiSubtitle1 {
    margin: 0;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.75;
    letter-spacing: 0.00938em;
    margin-bottom: 0.35em;
}

.juiTypography .juiSubtitle2 {
    margin: 0;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 1.57;
    letter-spacing: 0.00714em;
    margin-bottom: 0.35em;
}

.juiTypography p, .juiTypography p.juiBody1 {
    margin: 0;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-bottom: 0.35em;
}

.juiTypography p.juiBody2 {
    margin: 0;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-bottom: 0.35em;
}

/*************************************************
* Loading styles.
*/
.juiLoading {
    --juiLoading-bg: #f9f9f9;
}

.juiLoading.juiLoading_dark {
    --juiLoading-bg: #f3f3f3;
}

.juiLoading {
    animation: jui-animation-waiting 1s ease-in infinite;
    height: 1em;
    width: 100%;
    border-radius: 3px;
    background: var(--juiLoading-bg);
}

/***************************************
 * FilterOptionGroup
 */
 .juiChoiceSelector {
    --juiChoiceSelector-relief-border: var(--jui-color-neutral20);
    --juiChoiceSelector-relief: 3px;
    --juiChoiceSelector-radius: 6px;
    --juiChoiceSelector-shadow: var(--jui-color-neutral30);
    --juiChoiceSelector-bg: var(--jui-color-neutral10);
    --juiChoiceSelector-bg-hover: var(--jui-color-neutral20);
    --juiChoiceSelector-bg-selected: var(--jui-color-aux-white);
    --juiChoiceSelector-text: var(--jui-color-neutral60);
    --juiChoiceSelector-text-hover: var(--juiChoiceSelector-text);
    --juiChoiceSelector-text-selected: var(--jui-color-neutral90);
    --juiChoiceSelector-text-weight: 300;
    --juiChoiceSelector-option-lr: 1em;
    --juiChoiceSelector-option-tb: 0.5em;
    --juiChoiceSelector-option-radius: var(--juiChoiceSelector-radius);
 }
 
 .juiChoiceSelector {
    display: flex;
    width: fit-content;
    gap: var(--juiChoiceSelector-relief);
    padding: var(--juiChoiceSelector-relief);
    border: 1px solid var(--juiChoiceSelector-relief-border);
    border-radius: var(--juiChoiceSelector-radius);
    background: var(--juiChoiceSelector-bg);
    color: var(--juiChoiceSelector-text);
    overflow: hidden;
}

.juiChoiceSelector > div {
    padding: var(--juiChoiceSelector-option-tb) var(--juiChoiceSelector-option-lr);
    font-weight: var(--juiChoiceSelector-text-weight);
    color: var(--juiChoiceSelector-text);
    border-radius: var(--juiChoiceSelector-option-radius);
    flex-grow: 1;
    text-align: center;
}

.juiChoiceSelector > div.active {
    background: var(--juiChoiceSelector-bg-selected);
    color: var(--juiChoiceSelector-text-selected);
}

.juiChoiceSelector.dropshadow > div.active {
    box-shadow: 0 0 6px var(--juiChoiceSelector-shadow);
}

.juiChoiceSelector > div:not(.active):hover {
    background: var(--juiChoiceSelector-bg-hover);
    color: var(--juiChoiceSelector-text-hover);
    cursor: pointer;
}

.juiChoiceSelector > div > em {
    margin-right: 0.5em;
}

.juiChoiceSelector.variant-standard {

}

.juiChoiceSelector.variant-control {
    --juiChoiceSelector-relief: 0;
    --juiChoiceSelector-option-tb: 0.25em;
    --juiChoiceSelector-text-weight: 600;
    --juiChoiceSelector-option-radius: 0;
    --juiChoiceSelector-text: var(--jui-color-neutral40);
}

/***************************************
 * Dialog
 */
.juiDialog {
    --juiDialog-border-radius-shadow: 10px;
    --juiDialog-border-radius: 10px;
    --juiDialog-border-color: var(--jui-color-neutral20);
    --juiDialog-header-bg: var(--jui-color-neutral05);
    --juiDialog-header-color: var(--jui-color-neutral60);
}

.juiDialog {
    border: 1px solid var(--juiDialog-border-color);
    border-radius: var(--juiDialog-border-radius);
}

.juiDialog.dropshadow {
    box-shadow: 0 0 var(--juiDialog-border-radius-shadow) var(--juiDialog-border-color);
}

.juiDialog > .header {
    display: flex;
    align-items: center;
    min-height: 3em;
    padding: 0 1em;
    background: var(--juiDialog-header-bg);
    overflow: hidden;
    border-radius: var(--juiDialog-border-radius) var(--juiDialog-border-radius) 0 0;
    border-bottom: 1px solid var(--juiDialog-border-color);
    color: var(--juiDialog-header-color);
}

.juiDialog > .header > h4 {
    margin: 0;
    font-size: 1.1em;
    font-weight: 400;
}

.juiDialog > .header > em {
    cursor: pointer;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

.juiDialog > .header > em:hover {
    transform: rotate(90deg);
}

.juiDialog > .contents {
    min-height: 3em;   
}

.juiDialog > .footer {
    display: flex;
    align-items: center;
    gap: 0.5em;
    min-height: 3em;
    padding: 0.5em 1em;
    border-radius: 0 0 var(--juiDialog-border-radius) var(--juiDialog-border-radius);
    overflow: hidden;
    border-top: 1px solid var(--juiDialog-border-color);
}
