.component {
    --cpt-btn-bg: var(--jui-comp-button-success-surface);
    --cpt-btn-bg-hover: var(--jui-comp-button-success-surface-hover);
    --cpt-btn-border: var(--jui-comp-button-success-border);
}
