.component {
    --cpt-btn-bg: var(--jui-comp-button-warning-surface);
    --cpt-btn-bg-hover: var(--jui-comp-button-warning-surface-hover);
    --cpt-btn-border: var(--jui-comp-button-warning-border);
}
