.component {
    --cpt-btn-bg: var(--jui-comp-button-danger-surface);
    --cpt-btn-bg-hover: var(--jui-comp-button-danger-surface-hover);
    --cpt-btn-border: var(--jui-comp-button-danger-border);
}
