.component {
    --cpt-btn-bg: transparent;
    --cpt-btn-bg-hover: transparent;
    --cpt-btn-text: var(--jui-btn-bg);
    --cpt-btn-border: transparent;
    --cpt-btn-border-width: 0;
    --cpt-btn-padding: 0;
    --cpt-btn-text-lineheight: 0;
    --cpt-btn-margin: 0;
    --cpt-btn-waiting-bg: transparent;
    --cpt-btn-disabled-bg: transparent;
    --cpt-btn-disabled-border: transparent;
    --cpt-btn-disabled-text: var(--jui-state-disabled);
}

.component:not(.disabled) a:hover span {
    text-decoration: underline;
}