.component {
    --cpt-btn-bg: var(--jui-comp-button-outline-surface);
    --cpt-btn-bg-hover: var(--jui-comp-button-outline-surface-hover);
    --cpt-btn-text: var(--jui-comp-button-outline-text);
    --cpt-btn-border: var(--jui-comp-button-outline-border);
    --cpt-btn-disabled-bg: transparent;
}

.component .outer {
    background: var(--cpt-btn-bg);
}

.component:not(.disabled):not(.waiting) .outer:hover * {
    color: var(--cpt-btn-text);
}
