.component {
    --cpt-tabset-warn: var(--jui-tabset-warn);
    --cpt-tabset-outline: var(--jui-tabset-line);
    --cpt-tabset-outline-active: var(--jui-tabset-line-light);
    --cpt-tabset-outline-shadow: var(--jui-tabset-shadow);
    --cpt-tabset-text: var(--jui-tabset-text);
    --cpt-tabset-text-active: var(--jui-tabset-text);
    --cpt-tabset-icon: var(--jui-tabset-icon);
    --cpt-tabset-bg: transparent;
    --cpt-tabset-bg-tab-inactive: var(--jui-tabset-bg-03);
    --cpt-tabset-bg-tab-active: var(--jui-tabset-bg-01);
    --cpt-tabset-bg-tab-hover: var(--jui-tabset-bg-03);
    --cpt-tabset-height: 40px;
    --cpt-tabset-gap: 2px;
    --cpt-tabset-radius: var(--jui-border-radius);
    --cpt-tabset-indicator: #fff;
    --cpt-tabset-indicator-bg: var(--jui-color-secondary30);
}

.component {
  position: relative;
  background-color: var(--cpt-tabset-bg);
  display: flex;
}

.component .group {
  box-sizing: border-box;
}

.component .expander {
    flex-grow: 1;
}

.component ul {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.component ul li {
    cursor: pointer;
    position: relative;
}

.component ul li div {
  position: relative;
  white-space: nowrap;
}

.component ul li.disabled {
  display: none !important;
}

.component ul li div i {
  display: none;
  font-style: normal;
  margin-left: 1em;
  font-size: 0.65em;
  color: var(--jui-color-aux-white);
  background: var(--cpt-tabset-warn);
  padding: 0 0.5em;
  border-radius: 100%;
  position: relative;
  top: -0.1em;
}

.component ul li.count div i {
  display: inline-block;
}

.component ul li > strong {
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 0.8em;
    font-weight: 500;
    padding: 0em 4px;
    border-radius: 4px;
    background-color: var(--cpt-tabset-indicator-bg);
    color: var(--cpt-tabset-indicator);
}

.component .header {
  
}

.component .first {
  
}

.component .silent {
  
}

.component.collapse {

}