.component {
    --cpt-tabset-hightlight: var(--jui-tabset-bg-05);
    --cpt-tabset-hightlight-width: 3px;
}

.component {
    padding: 1em 0 0 1em;
}

.component .group.first h6 {
  border-top: none;
}

.component .group ul li {
  border-radius: var(--cpt-tabset-radius) 0 0 var(--cpt-tabset-radius);
  border-right: var(--cpt-tabset-hightlight-width) solid transparent;
}

.component .group ul li.active {
  border-right: var(--cpt-tabset-hightlight-width) solid var(--cpt-tabset-hightlight);
}
