.component {
  height: var(--cpt-tabset-height);
  max-height: var(--cpt-tabset-height);
  background: var(--cpt-tabset-bg);
  position: relative;
  overflow: hidden;
  transition: max-height 0.2s ease-in;
}

.component.collapse {
  max-height: 0;
}

.component ul {
  list-style: none;
  padding-left: 1.5em;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid var(--cpt-tabset-outline);
  right: 0;
}

.component ul li {
  background: var(--cpt-tabset-bg-tab-inactive);
  border: 1px solid var(--cpt-tabset-outline);
  border-radius: var(--cpt-tabset-radius) var(--cpt-tabset-radius) 0 0;
  padding: 0.5em 1em;
  box-sizing: border-box;
  display: inline-block;
  margin-right: var(--cpt-tabset-gap);
  cursor: pointer;
  font-weight: 600;
  position: relative;
  top: 1px;
  user-select: none;
}

.component ul li em {
  margin-right: 0.75em;
  color: var(--cpt-tabset-icon);
}

.component ul li span {
  font-weight: 600;
}

.component ul li.active {
  background: var(--cpt-tabset-bg-tab-active);
  z-index: 101;
  position: relative;
  box-shadow: 0 0 4px var(--cpt-tabset-outline-shadow);
  border-bottom: 1px solid var(--cpt-tabset-outline-active);
}
