.jui-mask {
  position: absolute;
  z-index: 10000000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .75;
  filter: "alpha(opacity=75)";
  background: #fff;
  zoom: 1;
}

.jui-masked {
  overflow: hidden !important;
}

.jui-masked select, .jui-masked object, .jui-masked embed {
  visibility: hidden;
}

.jui-masked-relative {
  position: relative !important;
}