.component {
    --cpt-tabbedpanel-width: 4.5em;
}

.component .tabs  {
    overflow: visible;
}

.component .tabs  .group ul > li {
    overflow: visible;
}

.component .tabs  .group ul > li > div {
    text-align: center;
    margin: 0;
    position: relative;
    overflow: visible;
}

.component .tabs  .group ul > li > div > em {
    margin: 0
}

.component .tabs  .group ul > li > div > span {
    display: none;
    background-color: #333;
    top: -3px;
    left: 125%;
    color: #fff;
    z-index: 1;
    font-size: 0.9em;
    padding: 0.25em 0.75em;
    border-radius: 4px;
    opacity: 0;
}

.component .tabs  .group ul > li:hover > div > span {
    display: block;
    position: absolute;
    opacity: 1;
    animation: jui-tabset-fade 0.5s;
}

@keyframes jui-tabset-fade {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
}