.component {
    --jui-calendarctl-icon: var(--jui-ctl-text-placeholder);
    --jui-calendarctl-selector-month-border: #e1e1e1;
    --jui-calendarctl-selector-size: 1em;
    --jui-calendarctl-selector-bg: #fff;
    --jui-calendarctl-selector-shadow: #ccc;
    --jui-calendarctl-selector-border: 1px;
    --jui-calendarctl-selector-text: var(--jui-text);
    --jui-calendarctl-selector-item: var(--jui-color-primary50);
    --jui-calendarctl-selector-item-hover: var(--jui-color-primary40);
    --jui-calendarctl-selector-item-selected: var(--jui-color-primary60);
}

.component {
    width: 16em;
	position: relative;
	cursor: pointer;
}

.component .inner {
    height: var(--jui-ctl-height);
	border: 1px solid var(--jui-ctl-border);
	border-radius: var(--jui-ctl-border-radius);
	box-sizing: content-box;
	padding: 0 0.75em;
	background: var(--jui-ctl-bg);
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	align-items: center;
	color: var(--jui-ctl-text);
}

.component em {
    color: var(--jui-calendarctl-icon);
}

.component.read_only em {
	color: var(--jui-ctl-action-readonly);
}

.component.read_only em.read_only {
	display: inline;
	color: var(--jui-ctl-action);
}

.component em.read_only {
	display: none;
}

.component em.clear {
	color: var(--jui-calendarctl-icon);
	visibility: hidden;
	cursor: pointer;
    transition: transform 0.2s ease;
}

.component:hover em.clear {
	color: var(--jui-textctl-text);
}

.component em.clear:hover {
    transform: rotate(90deg)
}

.component.clear em.clear {
	visibility: visible;
}

.component input {
	background: inherit;
	color: inherit;
	outline: none;
	border: none;
	width: 100%;
    font-size: 1em;
}

.component.disabled input {
	color: var(--jui-ctl-text-disabled);
	cursor: not-allowed;
}

.component.read_only input {
	color: var(--jui-ctl-text-readonly);
	cursor: not-allowed;
}

.component #selector {
    min-width: 210px;
	z-index: 10;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0.75em 0 0.25em 0;
    display: none;
    width: 100%;
    font-size: var(--jui-calendarctl-selector-size);
	cursor: default;
}

.component #selector.selector_top {
	bottom: 100%;
	top: auto;
}

.component #selector.selector_left {
	left: 0;
}

.component.open #selector {
    display: block;
    animation: eff-open .1s ease-in-out;
}

.component.open #selector > div {
    display: flex;
}

.component.open #selector > div div.extra {
    border-left: solid 1px #ddd;
    margin: 0 0 0.75em 0;
    padding: 0.75em 1em 0 1em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    justify-content: flex-start;
    align-items: normal;
    width: 100%;
}

.component.open #selector > div div.extra > div {
    padding: 3px 6px;
    border-radius: 3px;
    font-weight: 500;
}

.component.open #selector > div div.extra > h5 {
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.8em;
    padding-left: 4px;
    color: #999;
}

.component.open #selector > div div.extra > h5:not(:first-child) {
    margin-top: 6px;
}

.component.open #selector > div div.extra > div:hover {
    color: #fff;
    background: var(--jui-calendarctl-selector-item-hover);
    cursor: pointer;
}

.component #selector > div {
    background: var(--jui-calendarctl-selector-bg);
	border: 1px solid var(--jui-calendarctl-selector-border);
	border-radius: var(--jui-ctl-border-radius);
    box-shadow: 0 0 8px var(--jui-calendarctl-selector-shadow);
    overflow: hidden;
    padding: 1em 0 0.25em 0;
    color: var(--jui-calendarctl-selector-text);
}

.component #selector > div div.calendar {
	display: flex;
    flex-direction: column;
}

.component #selector.selector_top > div div.calendar {
    flex-direction: column-reverse;
    padding: 0.25em 0 1em 0;
}

.component #selector .months {
    display: flex;
    align-items: center;
    padding: 2px 1em;
}

.component #selector .months > em {
    cursor: pointer;
    border: 1px solid transparent;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.component #selector .months > em:hover {
    border-color: var(--jui-calendarctl-selector-month-border);
}

.component #selector .months > div {
    flex-grow: 1;
    text-align: center;
    font-weight: 600;
}

.component #selector .dates {
    padding: 0.25em 0.75em 0.25em 0.75em;
}

.component #selector .dates table {
    width: 100%;
}

.component #selector .dates th {
    font-weight: 600;
    text-align: center;
}

.component #selector .dates td {
    text-align: center;
    font-weight: 500;
    border-radius: 3px;
    position: relative;
    padding: 4px;
	cursor: pointer;
}

.component #selector .dates td em {
    width: 4px;
    height: 4px;
    display: inline-table;
    display: block;
    background: var(--jui-calendarctl-selector-text);
    border-radius: 10px;
    position: absolute;
    left: 0.8em;
    bottom: 2px;
}

.component #selector .dates td.current {
    color: var(--jui-calendarctl-selector-item);
}

.component #selector .dates td.current em {
    background: var(--jui-calendarctl-selector-item);
}

.component #selector .dates td:hover em {
    background: #fff;
}

.component #selector .dates td.outside {
    color: #ccc;
}

.component #selector .dates td:not(.outside):not(.disabled):hover {
    color: #fff;
    background-color: var(--jui-calendarctl-selector-item-hover);
}

.component #selector .dates td:not(.disabled).outside:hover {
    color: #fff;
    background-color: #ccc;
}

.component #selector .dates td.disabled {
    color: #ccc;
    background: #f1f1f1;
    cursor: default;
}

.component #selector .dates td.selected {
    color: #fff;
    background-color: var(--jui-calendarctl-selector-item-selected);
}

.component #selector .dates td.selected em {
    background: #fff;
}