.component {
	--jui-textareactl-size: 1em;
    --jui-textareactl-padding: 0.55em;
    --jui-textareactl-counter-limit: var(--jui-color-error70);
    --jui-textareactl-counter-text-color: var(--jui-ctl-text);
    --jui-textareactl-bg: var(--jui-ctl-bg);
    --jui-textareactl-text: var(--jui-ctl-text);
    --jui-textareactl-border: var(--jui-ctl-border);
    --jui-textareactl-border-radius: var(--jui-ctl-border-radius);
    --jui-textareactl-disabled-text: var(--jui-ctl-text-disabled);
    --jui-textareactl-readonly-text: var(--jui-ctl-text-readonly);
    --jui-textareactl-counter-text-size: 0.9em;
}

.component .inner {
	padding: var(--jui-textareactl-padding);
	border: 1px solid var(--jui-textareactl-border);
	border-radius: var(--jui-textareactl-border-radius);
	box-sizing: content-box;
	background: var(--jui-textareactl-bg);
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	align-items: normal;
	color: var(--jui-textareactl-text);
    overflow: hidden;
}

.component textarea {
	padding: 0;
	margin: 0;
	background: inherit;
	color: inherit;
	outline: none;
	border: none;
	resize: none;
    transition: min-height 0.2s ease;
    min-height: 0;
    font-size: var(--jui-textareactl-size);
}

.component.resizable textarea {
	resize: auto;
}

.component.disabled textarea {
	color: var(--jui-textareactl-disabled-text);
	cursor: not-allowed;
}

.component.read_only textarea {
	color: var(--jui-textareactl-readonly-text);
	cursor: not-allowed;
}

.component .counter {
    text-align: right;
    font-size: var(--jui-textareactl-counter-text-size);
    margin-top: 0.25em;
    color: var(--jui-textareactl-counter-text-color);
}

.component .counter.limit {
    color: var(--jui-textareactl-counter-limit);
}

.component.waiting .inner * {
	visibility: hidden;
}