.component {
    --cpt-gallery-grid-padding: 1em;
    --cpt-gallery-grid-gap: 1em;
}

.component .gallery > div {
	padding: var(--cpt-gallery-grid-padding);
	display: flex;
    flex-wrap: wrap;
	gap: var(--cpt-gallery-grid-gap);
}